// Microsoft Visual C++ generated resource script.
//

#include <winres.h>
#include "../../SystemInformer/include/phappres.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
1 ICON                    "..\\..\\SystemInformer\\SystemInformer.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION PHAPP_VERSION_NUMBER
 PRODUCTVERSION PHAPP_VERSION_NUMBER
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "Winsider Seminars & Solutions, Inc."
            VALUE "FileDescription", "System Informer 便携版启动器"
            VALUE "FileVersion", PHAPP_VERSION_STRING
            VALUE "InternalName", "SystemInformerPortable"
            VALUE "LegalCopyright", "Copyright (c) Winsider Seminars & Solutions, Inc.  All rights reserved."
            VALUE "OriginalFilename", "SystemInformerPortable.exe"
            VALUE "ProductName", "System Informer (Portable)"
            VALUE "ProductVersion", PHAPP_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 0x04b0
    END
END
